#/**********************************************************************
#************** Author:   Christian KEMGANG NGUESSOP *******************
#************** Project:   shopchair
#************** Version:  1.0.0                      *******************
#***********************************************************************/

# Folders
/backend
/frontend
